@model IEnumerable<Finnova.Core.Models.Conta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Banco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeConta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoConta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoInvestimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaldoInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaldoAtual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Banco.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeConta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoConta.DescricaoTipoConta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoInvestimento.DescricaoTipoInvestimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaldoInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaldoAtual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdConta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdConta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdConta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
