@model IEnumerable<FinnovaWebApplication.Models.Transacao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataTransacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoTransacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subcategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriadoEm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AtualizadoEm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataTransacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoTransacao.DescricaoTipoTransacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conta.NomeConta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subcategoria.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CriadoEm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AtualizadoEm)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTransacao">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTransacao">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTransacao">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
