@model FinnovaWebApplication.Models.Transferencia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transferencia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataTransferencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataTransferencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContaOrigem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContaOrigem.NomeConta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContaDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContaDestino.NomeConta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTransferencia">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
